# Currency Symbol
NEXT_PUBLIC_CURRENCY_SYMBOL = '৳'

# Admin Credentials Security
NEXT_PUBLIC_ADMIN_EMAIL = 'admin@example.com'
NEXT_PUBLIC_ADMIN_PASSWORD = 'strongpassword'

# Google OAuth 2.0 Web Client Credentials
NEXT_PUBLIC_GOOGLE_CLIENT_ID = ''
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET = ''
