# Currency Symbol
NEXT_PUBLIC_CURRENCY_SYMBOL = '৳'

# Admin Credentials Security
NEXT_PUBLIC_ADMIN_EMAIL = 'admin@example.com'
NEXT_PUBLIC_ADMIN_PASSWORD = 'strongpassword'

# Google OAuth 2.0 Web Client Credentials
NEXT_PUBLIC_GOOGLE_CLIENT_ID = ''
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET = ''

# Firebase Configuration (Firestore Real-time Sync)
NEXT_PUBLIC_FIREBASE_API_KEY = ''
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN = ''
NEXT_PUBLIC_FIREBASE_PROJECT_ID = ''
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET = ''
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = ''
NEXT_PUBLIC_FIREBASE_APP_ID = ''
